* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Open Sans, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* background-color: #d4c271; */


background-color: #FBAB7E;
background-image: linear-gradient(52deg, #FBAB7E 0%, #F7CE68 100%);
}

p {
  line-height: 1.6;
}

h1 {
  padding-top: 50px;
  text-align: center;
 font-family: 'Open Sans', sans-serif;
 font-weight: 800;
}

.underline {
  width: 50px;
  height: 5px;
  background-color: #000;
}

.button {
  text-align: center;
}

.button .btn {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #92400e;
  background-color: #92400e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;

}

.button .btn:hover {
  background-color: #790b2e;
  border: 2px solid #790b28;
}

.meals {
  padding: 20px;
}

.meals article {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
}

.meals article .underline {
  margin: 10px 0;
}

.meals article h2 {
  text-align: center;
  margin-bottom: 20px;
}

.meals article img {
  border-radius: 5px;
}

.meals article h3 {
  margin-top: 30px;
}

@media (min-width: 640px) {
  .meals article {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .meals article h2 {
    text-align: left;
  }

  .meals article h3 {
    font-size: 26px;
  }

  .meals article p {
    font-size: 18px;
  }
}